.dashboard {
  background-color: rgba(16, 16, 16, 0.8);
  position: absolute;
  bottom: 70px;
  left: 20px;
  right: 20px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 20px 0;
  z-index: 1000;
  color: white;
  border-radius: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flex-container * {
  text-align: center;
}

.flex-item {
  margin: 10px;
  width: 33%;
  height: 60px;
}

.dashboard h1 {
  font-size: 36px;
  color: #FE9102;
  margin-top: 10px;
}

.dashboard_wrapper {
  position: relative;
}

.update_time {
  position: absolute;
  right: 25px;
  bottom: 0;
  text-align: right;
}